# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
OLXSwift/OLXSwift.xcworkspace/contents.xcworkspacedata
OLXSwift/OLXSwift.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
OLXSwift/Pods/Manifest.lock
OLXSwift/Pods/Pods.xcodeproj/project.pbxproj
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift-acknowledgements.markdown
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift-acknowledgements.plist
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift-dummy.m
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift-frameworks.sh
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift-Info.plist
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift-umbrella.h
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift.debug.xcconfig
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift.modulemap
OLXSwift/Pods/Target Support Files/Pods-OLXSwift/Pods-OLXSwift.release.xcconfig
OLXSwift/Pods/Target Support Files/youtube-ios-player-helper-swift/ResourceBundle-youtube-ios-player-helper-swift-youtube-ios-player-helper-swift-Info.plist
OLXSwift/Pods/Target Support Files/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift-dummy.m
OLXSwift/Pods/Target Support Files/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift-Info.plist
OLXSwift/Pods/Target Support Files/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift-prefix.pch
OLXSwift/Pods/Target Support Files/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift-umbrella.h
OLXSwift/Pods/Target Support Files/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift.modulemap
OLXSwift/Pods/Target Support Files/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift.xcconfig
OLXSwift/Pods/youtube-ios-player-helper-swift/LICENSE
OLXSwift/Pods/youtube-ios-player-helper-swift/README.md
OLXSwift/Pods/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift/Assets/YTPlayerView-iframe-player.html
OLXSwift/Pods/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift/Assets/YTPlayerView-iframe-playerIPAD.html
OLXSwift/Pods/youtube-ios-player-helper-swift/youtube-ios-player-helper-swift/Classes/YTPlayerView.swift
